.footer {
  background-color: var(--bg-black);
  color: var(--white);
  padding: 60px 0 40px;
}

.footer__columns {
  width: 90%;
  min-height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 771px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
}

.footer__column-links {
  padding: 20px 0 16px;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  display: block;
  color: var(--white);
}

.footer__column-link:hover {
  color: var(--bg-grey);
}

.footer__column_content_social {
  z-index: 0;
  position: relative;
}

.footer__column-link_content_social {
  display: flex;
  align-items: center;
}

.footer__social-icon {
  width: 25px;
  height: 25px;
  margin-right: 3px;
}
