:root {
  --bg-black: #1f1f1f;
  --bg-grey: #f2f2f2;
  --blue: #2f80ed;
  --blue-hover: #689fe6;
  --black: #000;
}

html {
  box-sizing: border-box;
}

*, *:after, *:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}



.body {
  font-family: "Helvetica", "Arial", sans-serif;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.logo {
  width: 228px;
  height: 32px;
}

.header {
  height: 100vh;
  position: relative;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--bg-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header__background-block {
  position: absolute;
  width: 568px;
  height: 568px;
  background-color: var(--blue);
  top: 64px;
  right: 0;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__logo {
  position: absolute;
  top: 30px;
  left: 64px;
}

.title {}

.header__title {
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  max-width: 730px;
  margin-left: 64px;
}

.header__subtitle {
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
}

.link {
  color: var(--blue);
  text-decoration: none;
}

.header__link {}

.header__link::after {
  content: "→";
  padding-left: 5px;
}

.link:hover {
  color: var(--blue-hover);
}

.two-columns {
  width: 80%;
  margin: 0 auto;
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  color: var(--blue);
  line-height: 1.2;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: normal;
  max-width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  padding: 0;
}

.two-columns__paragraph:not(:last-child) {
  padding-bottom: 30px;
}

.span-accent {
  font-weight: bold;
}


.numbers {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers__title {
  font-size: 60px;
  line-height: 1.15;
  font-weight: 600;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

.numbers__subtitle {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
}

.table {
  width: 1100px;
  padding-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__heading {
  font-size: 24px;
  line-height: 1.15;
  font-weight: 600;
  padding-bottom: 20px;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
}

.table__text:not(:last-child) {
  padding-bottom: 20px;
}
